@model Models.Category

@{
    ViewData["Title"] = "Details";
}

<h2>Category Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            <br />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryTypes)
        </dt>
        <dd>
            <ul>
                @foreach (var type in Model.CategoryTypes)
                {
                    <li>
                        <a asp-controller="Type" asp-action="Details" asp-route-id="@type.TypeId">
                            @type.Type.Name
                        </a>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
